<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{description}}</p>
  <p>Created by {{writer.name}} on {{format_date date_created}}</p>
  <p>
    ARTICLE PLACEHOLDER FOR NOW.
  </p>
  <p>
    <button class="btn btn-primary">BUTTON PLACEHOLDER</button>
  </p>
</div>
